body {
	background-color: rgb(38, 38, 38);
	text-align: center;
}

body > * {
	color: white;
}

#title {
	font-family: "Source Code Pro", monospace;
}

#test {
	color: white;
	transition: all 1s;
	display: inline;
}

#test:hover {
	color: red;
	transition: all 1s;
}